﻿@id int
@{
    ViewBag.Title = "SingResult";
    Layout = "~/Views/Shared/Front-End_Layout.cshtml";
}
<div class="container">
    @if (id == 1)
    {
        Login Success.
    }
    else if (id == 0)
    {
        Login Fail!Mobile or Year is wrong.
            }
    else if (id == 2)
    {
        Register Fail!Already Mobile.
            }
    else if (id == 3)
    {
        Register Success
            }
</div>
